# Task 5. Desiree Thompson - Optional Bonus

February 4, 2023
Practice working with STring Methods Jupyter Lab to work through specified examples to gain proficiency in this area

In [1]:
import pandas as pd
import re

Created a DataFrame

In [2]:
contacts = [['Mike Green', 'demol@deitel.com', '5555555555'], ['Sure Brown', 'demo2@deitel.com','5555555555']]

In [3]:
contactsdf = pd.DataFrame(contacts,
                          columns = ['Name', 'Email', 'Phone'])

In [4]:
contactsdf

         Name             Email       Phone
0  Mike Green  demol@deitel.com  5555555555
1  Sure Brown  demo2@deitel.com  5555555555

Developed function to change the phone number format to ###-###-####

In [5]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

Used the Series method map to apply the formatting to the "Phone" of the DataFrame

In [6]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

The formatted "Phone" is called

In [7]:
formatted_phone

0    555-555-5555
1    555-555-5555
Name: Phone, dtype: object